[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioredis = "~=2.0.1"
alembic = "~=1.8.1"
asyncpg = "~=0.29.0"
boto3 = "==1.26.10"
fastapi = "==0.110.0"
# The latest version of the fastapi is not taken because of the issue
# with fastapi-mail that requires 0.21 < starlette < 0.22
# starlette version for those deps ==0.21.0
fastapi-mail = "~=1.2.2"
httpx = "~=0.23"
jinja2 = "~=3.1.2"
bcrypt = "==4.0.1"
passlib = {version = "~=1.7.4", extras = ["bcrypt"]}
pyOpenSSL = "~=22.1.0"
pydantic = {extras = ["email"], version = "==1.10.15"}
python-jose = {version = "~=3.3.0", extras = ["cryptography"]}
python-multipart = "~=0.0.5"
sentry-sdk = "~=2.3"
sqlalchemy = { extras = ["asyncio"], version = "==1.4.53" }
uvicorn = {extras = ["standard"], version = "==0.29.0"}
taskiq = {extras = ["reload"], version = "==0.9.1"}
aiohttp = "==3.9.5"
firebase-admin = "==6.5.0"
aio-pika = "==9.3.0"
azure-storage-blob = "==12.18.2"
taskiq-fastapi = "==0.3.0"
taskiq-redis = "==0.5.0"
taskiq-aio-pika = "==0.4.0"
sqlalchemy-utils = "==0.41.1"
typer = {extras = ["all"], version = "==0.9.0"}
aiofiles = "==23.2.1"
opentelemetry-api = "==1.24.0"
opentelemetry-distro = "==0.45b0"
opentelemetry-instrumentation = "==0.45b0"
opentelemetry-instrumentation-asgi = "==0.45b0"
opentelemetry-instrumentation-asyncio = "==0.45b0"
opentelemetry-instrumentation-aws-lambda = "==0.45b0"
opentelemetry-instrumentation-dbapi = "==0.45b0"
opentelemetry-instrumentation-fastapi = "==0.45b0"
opentelemetry-instrumentation-logging = "==0.45b0"
opentelemetry-instrumentation-sqlite3 = "==0.45b0"
opentelemetry-instrumentation-tortoiseorm = "==0.45b0"
opentelemetry-instrumentation-urllib = "==0.45b0"
opentelemetry-instrumentation-wsgi = "==0.45b0"
opentelemetry-propagator-aws-xray = "==1.0.1"
opentelemetry-sdk = "==1.24.0"
opentelemetry-semantic-conventions = "==0.45b0"
opentelemetry-test-utils = "==0.45b0"
opentelemetry-util-http = "==0.45b"
opentelemetry-exporter-otlp = "==1.24.0"
opentelemetry-sdk-extension-aws = "==2.0.1"
nh3 = "==0.2.18"
pymongo = "*"

[dev-packages]
# Nobody knows for what its needed
ipdb = "~=0.13"
pudb = "~=2022.1"
# Linters and Formatters
pre-commit = "~=2.7.1"
ruff = "=0.6.2"
# Tests
allure-pytest = "*"
pydantic-factories = "~=1.17.0"
pytest = "~=7.1"
pytest-asyncio = "~=0.19"
pytest-cov = "~=3.0"
pytest-env = "~=0.8.1"
pytest-lazy-fixture = "~=0.6"
pytest-mock = "~=3.8"
nest-asyncio = "==1.6.0"
gevent = "~=23.9"
# MyPy
mypy = "==1.10.0"
types-passlib = "==1.7.7.20240819"
types-python-dateutil = "==2.9.0.20240821"
types-python-jose = "==3.3.4.20240106"
typing-extensions = "==4.12.2"
types-requests = "==2.32.0.20240712"
types-pytz = "==2024.1.0.20240417"
types-aiofiles = "==24.1.0.20240626"
types-cachetools = "==5.5.0.20240820"
# https://github.com/sqlalchemy/sqlalchemy/issues/7714
greenlet = "~=2.0.1"
# JSONLD deps only for dev
reproschema = "*"
cachetools = "==5.3.0"
pyld = "==2.0.4"

[requires]
python_version = "3.10"

[scripts]
cli = "python src/cli.py"
