<html style="max-width: 450px; line-height: 2.1rem; font-size: 10px" lang="en" dir="ltr">
  <body> {% include 'header.html' %} <table style="padding: 0; font-size: 1.4rem"> <tr>
        <td style="padding-bottom: 16px"> Mholo {{first_name}}, </td>
      </tr> <tr>
        <td style="padding-bottom: 16px; font-weight: bold;"> I-Two-Factor Authentication ivaliwe kwi-akhawunti yakho. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Olu tshintsho lwenziwe kwi {{disabled_at}}. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px; color: #f57c00;"> I-akhawunti yakho ngoku ayikhuselekanga kancinci ngaphandle koqinisekiso lwezinto ezimbini. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Ukuba awuzange ucime i-two-factor authentication, i-akhawunti yakho inokuba sengozini. Uyacelwa: </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> 1. Tshintsha iphasiwedi yakho ngoko nangoko </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> 2. Yenza kwakhona i two-factor authenticate isebenze </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 16px"> 3. Phonononga umsebenzi we-akhawunti yakho yakutshanje </td>
      </tr> {% include 'blocks/team_info_xh.html' %} </table> {% include 'footers/footer_info_xh.html' %} </body>
</html>
