<html style="max-width: 450px; line-height: 2.1rem; font-size: 10px" lang="en" dir="ltr">
  <body> {% include 'header.html' %} <table style="padding: 0; font-size: 1.4rem"> <tr>
        <td style="padding-bottom: 16px"> Mholo {{first_name}}, </td>
      </tr> <tr>
        <td style="padding-bottom: 16px; font-weight: bold;"> Iikhowudi zakho zokubuyisela zikhutshelwe {{downloaded_at}}. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Iikhowudi zoBuyiselo ziziqinisekiso zokhuseleko ezibuthathaka ezikuvumela ukuba ufikelele kwi-akhawunti yakho xa ungenayo i-app yakho yesiqinisekiso. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px; font-weight: bold;"> Isikhumbuzi sokhuseleko: </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> • Zigcine kwindawo ekhuselekileyo </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> • Ungaze wabelane ngazo nabani na </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> • Ikhowudi nganye ingasetyenziswa kube kanye kuphela </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 16px"> • Yenza iikhowudi ezintsha xa uphantsi </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Ukuba awuzange ukhuphele iikhowudi zakho zokubuyisela, nceda uqhagamshelane nenkxaso ngokukhawuleza. </td>
      </tr> {% include 'blocks/team_info_xh.html' %} </table> {% include 'footers/footer_info_xh.html' %} </body>
</html>
