<html style="max-width: 450px; line-height: 2.1rem; font-size: 10px" lang="en" dir="ltr">
  <body> {% include 'header.html' %} <table style="padding: 0; font-size: 1.4rem"> <tr>
        <td style="padding-bottom: 16px"> Sawubona {{first_name}}, </td>
      </tr> <tr>
        <td style="padding-bottom: 16px; font-weight: bold;"> Amakhodi akho okuthola abukwe ku-{{viewed_at}}. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Lesi isaziso sokuphepha esijwayelekile sokukugcina unolwazi mayelana nokufinyelela amakhodi akho okutakula. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Amakhodi okutakula ayiziqinisekiso zokuphepha ezibucayi. Qiniseka ukuthi: </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> • Uwagcina eyimfihlo futhi evikelekile </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> • Ungalokothi wabelane ngawo nanoma ubani </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 16px"> • Uwagcina endaweni ephephile </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Uma ungazange ubuke amakhodi akho okutakula, sicela uxhumane nosekelo ngokushesha. </td>
      </tr> {% include 'blocks/team_info_zu.html' %} </table> {% include 'footers/footer_info_zu.html' %} </body>
</html>
