<html style="max-width: 450px; line-height: 2.1rem; font-size: 10px" lang="en" dir="ltr">
  <body> {% include 'header.html' %} <table style="padding: 0; font-size: 1.4rem"> <tr>
        <td style="padding-bottom: 16px"> Hallo {{first_name}} </td>
      </tr> <tr>
        <td style="padding-bottom: 16px; font-weight: bold;"> Jou herstelkodes is afgelaai op {{downloaded_at}}. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Herstelkodes is sensitiewe sekuriteitsaanmeldinligting wat jou in staat stel om toegang tot jou rekening te kry wanneer jy nie jou waarmerkingstoep (authenticator) het nie. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px; font-weight: bold;"> Sekuriteitherinnering: </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> • Bewaar dit op ’n beveiligde plek </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> • Moet dit nooit met iemand deel nie </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> • Elke kode kan slegs een keer gebruik word </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 16px"> • Genereer nuwe kodes as daar min oor is </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> As jy nie jou herstelkodes aflaai nie, kontak dadelik die steundiens. </td>
      </tr> {% include 'blocks/team_info_af.html' %} </table> {% include 'footers/footer_info_af.html' %} </body>
</html>
