<html style="max-width: 450px; line-height: 2.1rem; font-size: 10px" lang="en" dir="ltr">
  <body> {% include 'header.html' %} <table style="padding: 0; font-size: 1.4rem"> <tr>
        <td style="padding-bottom: 16px"> Sawubona {{first_name}}, </td>
      </tr> <tr>
        <td style="padding-bottom: 16px; font-weight: bold;"> Ukufakazela ubuqiniso kwezici ezimbili kukhutshaziwe ku-akhawunti yakho. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Lolu shintsho lwenziwe ngo-{{disabled_at}}. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px; color: #f57c00;"> I-akhawunti yakho manje ivikeleke kancane ngaphandle kokuqinisekiswa kwezici ezimbili. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Uma ungazange ucime ukuqinisekiswa kwezici ezimbili, i-akhawunti yakho ingase ibe sengozini. Ngiyacela: </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> 1. Shintsha iphasiwedi yakho ngokushesha </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> 2. Nika amandla kabusha ukuqinisekiswa kwezici ezimbili </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 16px"> 3. Buyekeza umsebenzi wakho wakamuva we-akhawunti </td>
      </tr> {% include 'blocks/team_info_zu.html' %} </table> {% include 'footers/footer_info_zu.html' %} </body>
</html>
