<html style="max-width: 450px; line-height: 2.1rem; font-size: 10px" lang="en" dir="ltr">
  <body> {% include 'header.html' %} <table style="padding: 0; font-size: 1.4rem"> <tr>
        <td style="padding-bottom: 16px"> Mholo {{first_name}}, </td>
      </tr> <tr>
        <td style="padding-bottom: 16px; color: #388e3c; font-weight: bold;"> I-Two-factor authentication yenziwe ngempumelelo kwi-akhawunti yakho! </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Olu tshintsho lwenziwe {{enabled_at}}. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> I-akhawunti yakho ngoku ikhuseleke ngakumbi. Ukusukela ngoku ukuya phambili, kuya kufuneka ufake ikhowudi yokuqinisekisa kwi-app yakho yesiqinisekiso xa ungena. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px; font-weight: bold;"> Important: Unayo {{recovery_codes_count}} iikhowudi yokuchacha. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Iikhowudi zokubuyisa zikuvumela ukuba ufikelele kwi-akhawunti yakho ukuba ulahlekelwe sisixhobo sakho sobunyani. Ungajonga iikhowudi zakho zokubuyisela nanini na ngokundwendwela useto lwakho kwiCurious admin. Qiniseka ukuba: </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> • Zigcine kwindawo ekhuselekileyo nekhuselekileyo </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 16px"> • Ungabelani ngazo nabani na </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Ukuba awuzange wenze i-two-factor authentication isebenze, nceda uqhagamshelane nenkxaso ngoko nangoko. </td>
      </tr> {% include 'blocks/team_info_xh.html' %} </table> {% include 'footers/footer_info_xh.html' %} </body>
</html>
