<html style="max-width: 450px; line-height: 2.1rem; font-size: 10px" lang="en" dir="ltr">
  <body> {% include 'header.html' %} <table style="padding: 0; font-size: 1.4rem"> <tr>
        <td style="padding-bottom: 16px"> Sawubona {{first_name}}, </td>
      </tr> <tr>
        <td style="padding-bottom: 16px; color: #388e3c; font-weight: bold;"> Ukuqinisekiswa kwezici ezimbili kuvulwe amandla ngempumelelo ku-akhawunti yakho! </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Lolu shintsho lwenziwe ngo-{{enabled_at}}. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> I-akhawunti yakho manje isivikeleke kakhulu. Kusukela manje, uzodinga ukufaka ikhodi yokuqinisekisa kusukela ku-app yokufakazela ubuqiniso uma ungena ngemvume. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px; font-weight: bold;"> Okubalulekile: Unamakhodi okutakula angu-{{recovery_codes_count}}. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Amakhodi okutakula akuvumela ukuthi ufinyelele i-akhawunti yakho uma ulahlekelwa idivayisi yakho yokuqinisekisa. Ungabuka amakhodi akho okutakula noma kunini ngokuvakashela amasethingi akho kumphathi we-Curious. Qiniseka ukuthi: </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> • Uwagcina endaweni ephephile nevikelekile </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 16px"> • Awabelani ngawo nanoma ubani </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Uma ungazange unike amandla ukuqinisekiswa kwezici ezimbili, sicela uxhumane nosekelo ngokushesha. </td>
      </tr> {% include 'blocks/team_info_zu.html' %} </table> {% include 'footers/footer_info_zu.html' %} </body>
</html>
