<html style="max-width: 450px; line-height: 2.1rem; font-size: 10px" lang="en" dir="ltr">
  <body> {% include 'header.html' %} <table style="padding: 0; font-size: 1.4rem"> <tr>
        <td style="padding-bottom: 16px"> Hallo {{first_name}} </td>
      </tr> <tr>
        <td style="padding-bottom: 16px; font-weight: bold;"> Jou herstelkodes is bekyk op {{viewed_at}}. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Hierdie is ’n roetine-sekuriteitskennisgewing om jou op hoogte te hou oor die toegang tot jou herstelkodes. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Herstelkodes is sensitiewe sekuriteitsinligting. Doen die volgende: </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> • Hou dit privaat en beveiligd </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> • Moet dit nooit met iemand deel nie </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 16px"> • Bewaar dit op ’n veilige plek </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> As jy nie jou herstelkodes bekyk het nie, kontak dadelik die steundiens. </td>
      </tr> {% include 'blocks/team_info_af.html' %} </table> {% include 'footers/footer_info_af.html' %} </body>
</html>
