<html style="max-width: 450px; line-height: 2.1rem; font-size: 10px" lang="en" dir="ltr">
  <body> {% include 'header.html' %} <table style="padding: 0; font-size: 1.4rem"> <tr>
        <td style="padding-bottom: 16px"> Sawubona {{first_name}}, </td>
      </tr> <tr>
        <td style="padding-bottom: 16px; font-weight: bold;"> Amakhodi akho okutakula adawunilodwe ngo-{{downloaded_at}}. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Amakhodi okutakula ayiziqinisekiso zokuvikela ezibucayi ezikuvumela ukuthi ufinyelele i-akhawunti yakho uma ungenayo i-app yakho yokufakazela ubuqiniso. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px; font-weight: bold;"> Isikhumbuzi sokuvikeleka: </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> • Wagcine endaweni evikelekile </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> • Ungalokothi wabelane ngawo nanoma ubani </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 8px"> • Ikhodi ngayinye ingasetshenziswa kanye kuphela </td>
      </tr> <tr>
        <td style="padding-left: 20px; padding-bottom: 16px"> • Khiqiza amakhodi amasha uma uphelelwa amandla </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Uma ungazange udawunilode amakhodi akho okutakula, sicela uxhumane nosekelo ngokushesha. </td>
      </tr> {% include 'blocks/team_info_zu.html' %} </table> {% include 'footers/footer_info_zu.html' %} </body>
</html>
