<table
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="width: 100%; text-align: center"
>
    <tr>
        <td>
            <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    style="
          width: 100%;
          background: #eff4fa;
          padding: 26px;
          border-radius: 8px;
          text-align: center;
        "
            >
                <tr>
                    <td colspan="2" style="padding-bottom: 14px; font-size: 14px">
                        Obtén la app móvil Curious:
                    </td>
                </tr>
                <tr>
                    <td width="50%" align="right" style="padding-right: 4px">
                        <a href="https://apps.apple.com/br/app/mindlogger/id1299242097"> <img
                                src="https://media.mindlogger.org/apple-store.png" style="height: 44px"
                                alt="Obtén la app para iOS"/> </a>
                    </td>
                    <td width="50%" align="left" style="padding-left: 4px">
                        <a href="https://play.google.com/store/apps/details?id=lab.childmindinstitute.data&amp;pli=1">
                            <img src="https://media.mindlogger.org/google-play.png" style="height: 44px"
                                 alt="Obtén la app para Android"/> </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-top: 23px; font-size: 14px">
                        ¿Necesitas ayuda? <a href="https://mindlogger.atlassian.net/servicedesk/customer/portals"
                                             style="color: black"> Visita nuestro Centro de ayuda </a>.
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding-top: 32px">
            <img src="https://media.mindlogger.org/cmi-logo.png" style="width: 106px" alt="Child Mind Institute"/>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="color: #51606f; padding-top: 12px; font-size: 12px">
            El Child Mind Institute es el creador de Curious, pero no es responsable del contenido creado por terceros.
        </td>
    </tr>
</table>
