<html style="max-width: 700px" lang="en">
<body>
{% include 'header.html' %}
<table style="padding: 0">
    <tr>
        <td style="padding-bottom: 1%">
            Hi {{first_name}}!
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            Your applet ({{applet_name}}) was successfully created.
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            Go take a look.
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            Thanks,
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            The MindLogger team
        </td>
    </tr>
</table>
{% include 'footers/footer_contact_us_en.html' %}
</body>

</html>