<html style="max-width: 700px" lang="en">
<body>
{% include 'header.html' %}
<table style="padding: 0">
    <tr>
        <td style="padding-bottom: 1%">
            Hi {{first_name}}!
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            Your applet {{applet_name}} was successfully uploaded!
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            You can now send invitations and create schedules.
        </td>
    </tr>
    <tr>
        <td>
            <b>Important</b>: Please ensure your applet password is stored securely outside of MindLogger. This password can never be changed or retrieved if forgotten due to security reasons. You will lose all data previously collected if this password is lost.
        </td>
    </tr>
{% include 'blocks/write_us_en.html' %}
    <tr>
        <td style="padding-bottom: 1%">
            Thanks,
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            The MindLogger team
        </td>
    </tr>
</table>
{% include 'footers/footer_contact_us_en.html' %}
</body>

</html>