<html style="max-width: 700px" lang="en">
<body>
{% include 'header.html' %}
<table style="padding: 0">
    <tr>
        <td style="padding-bottom: 1%">
            Hi {{first_name}}!
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            Your applet {{applet_name}} was successfully uploaded!
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            It is ready for you to send out invitations, set schedules, and configure in other ways.
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            Please ensure the Applet password is stored securely outside of MindLogger. Due to security reasons, this password can never be changed or retrieved if forgotten. If you forget this password, you will lose all previously collected data.
        </td>
    </tr>
{% include 'blocks/write_us_en.html' %}
    <tr>
        <td style="padding-bottom: 1%">
            Thanks,
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            The MindLogger team
        </td>
    </tr>
</table>
{% include 'footers/footer_contact_us_en.html' %}
</body>

</html>