<div
    style="width: 440px;"
>
    <div style="border-top: 2px solid rgb(216,216,216); padding-top: 25px; ">
        <img
            src="https://cmi-logos.s3.amazonaws.com/ChildMindInstitute_Logo_Horizontal_RGB.png"
            style="width: 200px; margin-left: 25px;"
        >
    </div>
    <div style="float: right">
        <p style="float: right">© Child Mind Institute MATTER Lab {{
            current_year }}</p>
        <p style="float:right;"><a href="mailto:matterlab@childmind.org">Contact
            us</a></p>
    </div>
</div>