<html style="max-width: 700px" lang="en">
<body>
{% include 'header.html' %}
<table style="padding: 0">
    <tr>
        <td style="padding-bottom: 1%">
            {{ first_name }}!
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            Welcome to "{{ applet_name }}"!
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            You have been invited to become a {{ role }} of "{{ applet_name
            }}", which runs in the MindLogger app (see below).
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            To accept this invitation, click below and your internet browser
            will open to the "{{ applet_name }}" invitation page:
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%; text-align: center;">
            <a
                    href="{{ link }}/{{ key }}?lang={{ language }}"
                    style="padding: 0.4rem 1rem; font-size: 0.8rem; line-height: 1.5; border-radius: 0.3rem; display: inline-block; font-weight: 400; vertical-align: middle; text-decoration: none; color: #ffffff; background-color: rgb(88, 217, 65); border-color: rgb(88, 217, 65);"
            >
                Go to "{{ applet_name }}" invitation page
            </a>
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            After you have accepted the invitation, you will be able to access
            "{{ applet_name }}" in the free MindLogger app on your mobile
            device, if you follow three simple steps (see the
            <a
                    href="https://help.mindlogger.org"
            >
                user guide
            </a>for greater detail):
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            <ol>
                <li>
                    Install the MindLogger app on your mobile device, if it
                    isn’t already installed.
                </li>
                <li>
                    Open the MindLogger app on your mobile device, and log in
                </li>
                <li>
                    Tap "{{ applet_name }}" on the MindLogger home screen and
                    you are ready to go! If "{{ applet_name }}" does not
                    appear, refresh the screen by sliding your finger downwards
                    from the top, and a spinning wheel should appear while
                    loading "{{ applet_name }}".
                </li>
            </ol>
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            Thank you for accepting the invitation to use "{{ applet_name }}"!
        </td>
    </tr>
</table>
{% include 'footers/footer_info_en.html' %}
</body>

</html>