<html style="max-width: 700px" lang="en" dir="ltr">

<body> {% include 'header.html' %} <table style="padding: 0"> <tr>
    <td style="padding-bottom: 1%"> Hallo {{first_name}} </td>
  </tr> <tr>
    <td style="padding-bottom: 1%"> Jy word uitgenooi om {% if role[0]|lower in ['a', 'e', 'i', 'o', 'u'] %}’n{% else %}’n{% endif %} {{role}} van <b>“{{applet_name}}”</b> te word in Curious, ’n dataversamelingsplatform vir geestesgesondheid en leeruitdagings. </td>
  </tr> <tr>
    <td style="padding-top: 2%; padding-bottom: 1%;">
      <a href="{{link}}/{{key}}?lang={{language}}" style="padding: 0.4rem 1rem; font-size: 0.8rem; line-height: 1.5; border-radius: 100px; display: inline-block; font-weight: 400; text-align: center; vertical-align: middle; text-decoration: none; color: #ffffff; background-color: #00639A; border-color: #00639A;"> Skep jou rekening en kom aan die gang </a>
    </td>
  </tr> {% include 'blocks/team_info_af.html' %} </table> {% include 'footers/footer_info_af.html' %} </body>

</html>
