<html>
{% include 'header.html' %}

    <div style="max-width: 440px;">
        <p>
            A password reset has been requested. Please use this <a href="{{ link }}">link</a> to reset your password.
        </p>
        <p>
            Please be aware that if you update your password, the data that has been previously recorded will be deleted.
        </p>
        <p>
            If you did not initiate this temporary access request, you can ignore this email. The link provided expires {{ expiration_minutes }} minutes after it was requested.
        </p>
    </div>

{% include 'footer.html' %}
</html>

If you did not initiate this temporary access request, you can ignore this email. The link provided expires 15 minutes after it was requested.
