<html>
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
<div style="width: 100%; background: #efefef; border-radius: 10px; padding: 10px;">
  <div style="margin: 0 auto; width: 90%; text-align: center;">
    <h1 style="background-color: rgba(0, 53, 102, 1); padding: 5px 10px; border-radius: 5px; color: white;">
      Recovering a password for a user's email: {{ email }}
    </h1>
    <div style="margin: 30px auto; background: white; width: 40%; border-radius: 10px; padding: 50px; text-align: center;">
      <p style="margin-bottom: 30px;">
        You have received this message to recovery your password.
      </p>
      <p style="margin-bottom: 30px;">
        If you did not initiate this request, you can ignore this email.
        The link provided expires 10 minutes after it was requested.
      </p>
      <h3 style="margin-bottom: 100px; font-size: 24px;">{{ link }}</h3>
      <p style="margin-bottom: 30px;">Please follow the link.</p>
      <a style="display: block; margin: 0 auto; border: none; background-color: rgba(255, 214, 10, 1); color: white; width: 200px; line-height: 24px; padding: 10px; font-size: 24px; border-radius: 10px; cursor: pointer; text-decoration: none;"
        href="{{ link }}"
        target="_blank"
      >
        Let's Go
      </a>
    </div>
  </div>
</div>
</body>
</html>