<html>
{% include 'header.html' %}

    <div style="max-width: 440px;">
        <p>You have received this message to recovery your password.</p>
        <p>Recovering a password for a user's email: {{ email }}</p>
        <p>
            If you did not initiate this request, you can ignore this email.
            The link provided expires {{ expiration_minutes }} minutes after it was requested.
        </p>
        <p>Please follow the link to recovery your password.</p>

        <p><a href="{{ link }}">{{ link }}</a></p>
    </div>

{% include 'footer.html' %}
</html>

