<html style="max-width: 450px; line-height: 2.1rem; font-size: 10px" lang="el">
  <body>
    {% include 'header.html' %}
    <table style="padding: 0; font-size: 1.4rem">
      <tr>
        <td style="padding-bottom: 16px">
          Λάβαμε ένα αίτημα για επαναφορά του κωδικού πρόσβασής σας.
        </td>
      </tr>
      <tr>
        <td style="padding-bottom: 16px">
          <a href="{{url}}">Κάντε κλικ στον σύνδεσμο αυτόν</a> για επαναφορά του κωδικού πρόσβασής σας τώρα. Ο σύνδεσμος θα λήξει σε 15 λεπτά.
        </td>
      </tr>
      <tr>
        <td style="padding-bottom: 16px">
          Εάν δεν πραγματοποιήσατε εσείς το αίτημα αυτό, μπορείτε να αγνοήσετε το συγκεκριμένο email.
        </td>
      </tr>
      <tr>
        <td>
          <i>Μετά την ενημέρωση του κωδικού πρόσβασής σας, δεν θα βλέπετε τα προηγούμενα δεδομένα σας στην εφαρμογή. Αλλά μην ανησυχείτε, τα έχουμε ακόμα.</i>
        </td>
      </tr>
      {% include 'blocks/team_info_el.html' %}
    </table>
    {% include 'footers/footer_info_el.html' %}
  </body>
</html>
