<html style="max-width: 450px; line-height: 2.1rem; font-size: 10px" lang="en" dir="ltr">
  <body> {% include 'header.html' %} <table style="padding: 0; font-size: 1.4rem"> <tr>
        <td style="padding-bottom: 16px"> Sifumene isicelo sokuseta ngokutsha iphasiwedi yakho. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> <a href="{{url}}">Cofa eli khonkco</a> ukuseta kwakhona iphasiwedi yakho ngoku. Ikhonkco liya kuphelelwa kwimizuzu eyi-15. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Ukuba awusenzanga esi sicelo, ungayihoya le imeyile. </td>
      </tr> <tr>
        <td>
          <i> Emva kokuhlaziya igama eligqithisiweyo, awuyi kubona idatha yakho yangaphambili kwi-app. Kodwa ungakhathazeki, sisenayo. </i>
        </td>
      </tr> {% include 'blocks/team_info_xh.html' %} </table> {% include 'footers/footer_info_xh.html' %} </body>
</html>
