<html style="max-width: 450px; line-height: 2.1rem; font-size: 10px" lang="en">
  <body>
    {% include 'header.html' %}
    <table style="padding: 0; font-size: 1.4rem">
      <tr>
        <td style="padding-bottom: 16px">
          We received a request to reset your password.
        </td>
      </tr>
      <tr>
        <td style="padding-bottom: 16px">
          <a href="{{url}}">Click this link</a> to reset your password now. The link will expire in 15 minutes.
        </td>
      </tr>
      <tr>
        <td style="padding-bottom: 16px">
          If you did not make this request, you can ignore this email.
        </td>
      </tr>
      <tr>
        <td>
          <i>
            After updating your password, you won’t see your past data in the app. But don’t worry, we still have it.
          </i>
        </td>
      </tr>
      {% include 'blocks/team_info_en.html' %}
    </table>
    {% include 'footers/footer_info_en.html' %}
  </body>
</html>
