<html style="max-width: 700px" lang="en">

<body>
    {% include 'header.html' %}
    <table style="padding: 0">
        <tr>
            <td style="padding-bottom: 1%">
                We received a request to reset your password.
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 1%">
                <a href="{{url}}">Click this link</a> to reset your password now. The link will expire in 15 minutes.
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 1%">
                If you did not make this request, you can ignore this email.
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 1%">
                After updating your password, you won’t see your past data in the app. But don’t worry, we still have it.
            </td>
        </tr>
        {% include 'blocks/write_us_en.html' %}
        <tr>
            <td style="padding-bottom: 1%">– The MindLogger Team</td>
        </tr>
    </table>
    {% include 'footers/footer_contact_us_en.html' %}
</body>

</html>
