<html style="max-width: 700px" lang="en">
<body>
{% include 'header.html' %}
<table style="padding: 0">
    <tr>
        <td style="padding-bottom: 1%">
            A password reset has been requested. Please use this <a href="{{url}}">link</a> to reset your password.
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            The link will expire in 15 minutes.
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            If you did not initiate this temporary access request, you can ignore this email.
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            Please be aware that if you update your password, the data that has been previously recorded will be deleted.
        </td>
    </tr>
{% include 'blocks/write_us_en.html' %}
    <tr>
        <td style="padding-bottom: 1%">
            Thanks,
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            Team MindLogger
        </td>
    </tr>

</table>
{% include 'footers/footer_contact_us_en.html' %}
</body>

</html>