<html style="max-width: 450px; line-height: 2.1rem; font-size: 10px" lang="es-mx">
<body>
{% include 'header.html' %}
<table style="padding: 0; font-size: 1.4rem">
    <tr>
        <td style="padding-bottom: 16px">
            Hemos recibido una solicitud para restablecer tu contraseña.
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 16px">
            <a href="{{url}}">Haz clic en este enlace</a> para restablecer tu contraseña ahora. El enlace expirará en 15
            minutos.
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 16px">
            Si no realizaste esta solicitud, puedes ignorar este correo electrónico.
        </td>
    </tr>
    <tr>
        <td>
            <i> Después de actualizar tu contraseña, no verás tus datos anteriores en la app. Pero no te preocupes
                porque siguen existiendo. </i>
        </td>
    </tr>
    {% include 'blocks/team_info_es.html' %}
</table>
{% include 'footers/footer_info_es.html' %}
</body>
</html>
