<html style="max-width: 450px; line-height: 2.1rem; font-size: 10px" lang="fr">
  <body>
    {% include 'header.html' %}
    <table style="padding: 0; font-size: 1.4rem">
      <tr>
        <td style="padding-bottom: 16px">
          Nous avons reçu une demande de réinitialisation de votre mot de passe.
        </td>
      </tr>
      <tr>
        <td style="padding-bottom: 16px">
          <a href="{{url}}">Cliquez sur ce lien</a> pour réinitialiser votre mot de passe maintenant. Le lien expirera dans 15 minutes.
        </td>
      </tr>
      <tr>
        <td style="padding-bottom: 16px">
          Si vous n'avez pas fait cette demande, vous pouvez ignorer cet e-mail.
        </td>
      </tr>
      <tr>
        <td>
          <i>
            Après avoir mis à jour votre mot de passe, vous ne verrez plus vos données passées dans l'application. Mais ne vous inquiétez pas, nous les avons toujours.
          </i>
        </td>
      </tr>
      {% include 'blocks/team_info_fr.html' %}
    </table>
    {% include 'footers/footer_info_fr.html' %}
  </body>
</html>
