<html style="max-width: 450px; line-height: 2.1rem; font-size: 10px" lang="en" dir="ltr">
  <body> {% include 'header.html' %} <table style="padding: 0; font-size: 1.4rem"> <tr>
        <td style="padding-bottom: 16px"> Ons het ’n versoek ontvang om jou wagwoord terug te stel. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> <a href="{{url}}">Klik hierdie skakel</a> om nou jou wagwoord terug te stel. Die skakel sal oor 15 minute verval. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Indien jy nie hierdie versoek gedoen het nie, kan jy hierdie e-pos ignoreer. </td>
      </tr> <tr>
        <td>
          <i> Nadat jou wagwoord opgedateer is, sal jy nie meer vorige data in die toep kan sien nie. Moenie bekommerd wees nie, ons het dit nog. </i>
        </td>
      </tr> {% include 'blocks/team_info_af.html' %} </table> {% include 'footers/footer_info_af.html' %} </body>
</html>
