<html style="max-width: 450px; line-height: 2.1rem; font-size: 10px" lang="en" dir="ltr">
  <body> {% include 'header.html' %} <table style="padding: 0; font-size: 1.4rem"> <tr>
        <td style="padding-bottom: 16px"> Sithole isicelo sokusetha kabusha iphasiwedi yakho. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> <a href="{{url}}">Chofoza le linki</a> ukuze usethe kabusha iphasiwedi yakho manje. Ilinki izophelelwa yisikhathi emzuzwini eyi-15. </td>
      </tr> <tr>
        <td style="padding-bottom: 16px"> Uma ungazange wenze lesi sicelo, ungayiziba le imeyili. </td>
      </tr> <tr>
        <td>
          <i> Ngemva kokubuyekeza iphasiwedi yakho, ngeke ubone idatha yakho yangaphambilini ku-app. Kodwa ungakhathazeki, sisenayo. </i>
        </td>
      </tr> {% include 'blocks/team_info_zu.html' %} </table> {% include 'footers/footer_info_zu.html' %} </body>
</html>
