<html style="max-width: 700px" lang="en">
<body>
{% include 'header.html' %}
<table style="padding: 0">
    <tr>
        <td style="padding-bottom: 1%">
            Hello {{receiver_name}}!
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            {{applet_owner}} sent you an invitation to transfer ownership of
            "{{applet_name}}" applet on MindLogger.
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            Please visit <a href="{{ link }}/{{applet_id}}?key={{ key }}&action=accept&lang={{ language }}">here</a>
            to create a new account and accept it.
        </td>
    </tr>
{% include 'blocks/write_us_en.html' %}
    <tr>
        <td style="padding-bottom: 1%">
            Thanks,
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 1%">
            The MindLogger team
        </td>
    </tr>
</table>
{% include 'footers/footer_contact_us_en.html' %}
</body>

</html>