<html style="max-width: 700px" lang="en">

<body>
    {% include 'header.html' %}
    <table style="padding: 0">
        <tr>
            <td style="padding-bottom: 1%">
                Hello and Welcome to MindLogger!
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 1%">
                {{applet_owner}} is inviting you to take over ownership of <b>"{{applet_name}}"</b> on MindLogger, a next-generation data collection and information delivery platform that streamlines the management of children’s mental
                health and learning challenges.
            </td>
        </tr>
        <tr>
            <td style="padding-top: 2%; padding-bottom: 1%">
                <a href="{{link}}/{{applet_id}}?key={{key}}&action=accept&lang={{language}}"
                    style="padding: 0.4rem 1rem; font-size: 0.8rem; line-height: 1.5; border-radius: 100px; display: inline-block; font-weight: 400; text-align: center; vertical-align: middle; text-decoration: none; color: #ffffff; background-color: #00639A; border-color: #00639A;">Create
                    account and accept invitation</a>
            </td>
        </tr>
        {% include 'blocks/team_info_en.html' %}
    </table>
    {% include 'footers/footer_info_en.html' %}
</body>

</html>
