name: run_build_deploy
on: [push]


permissions:
  id-token: write
  contents: read

jobs:

  run_codebuild_project:
    runs-on: ubuntu-latest
    env:
        GITHUB_ORGANIZATION: ${{ github.repository_owner }}
        GITHUB_REPO_NAME: ${{ github.event.repository.name }}
        GITHUB_BRANCH_OR_TAG: ${{ github.ref_name }}
        GITHUB_REF: ${{ github.ref }}
        BUILD_NAME: ${{github.event_name}}
        BUILD_NUMBER: ${{github.run_id}}
        ECR_ADDRESS: 917902836630.dkr.ecr.us-east-1.amazonaws.com
        TEST_COMMAND: sleep 1
        OUT_DIR: ./out
        AWS_REGION : "us-east-1"
        ECR_REPO: 917902836630.dkr.ecr.us-east-1.amazonaws.com/api-server

    steps:
      - name: Git clone the repository
        uses: actions/checkout@v4

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::917902836630:role/cmiml-devops-oidc-github-role
          role-session-name: OIDC-GHA-session
          aws-region: ${{ env.AWS_REGION }}

      - name: Get secrets by name and by ARN
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          parse-json-secrets: true
          secret-ids: |
            ,cmiml-devops
      
      - name: Run CodeBuild
        uses: aws-actions/aws-codebuild-run-build@v1
        env:
          DOCKER_USER: ${{ env.DOCKER_USER }}
          DOCKER_PASSWORD: ${{ env.DOCKER_PASSWORD }}
          REPORT_SERVER_PUBLIC_KEY: ${{ env.REPORT_SERVER_PUBLIC_KEY }}
        with:
          project-name: mindlogger-backend-refactor-builder
          env-vars-for-codebuild: |
           GITHUB_ORGANIZATION, GITHUB_REPO_NAME, GITHUB_BRANCH_OR_TAG, GITHUB_REF, BUILD_NAME, BUILD_NUMBER, ECR_ADDRESS, TEST_COMMAND, ECR_REPO, OUT_DIR, DOCKER_USER, DOCKER_PASSWORD, REPORT_SERVER_PUBLIC_KEY

  deploy_to_dev:
    needs: run_codebuild_project
    uses: ChildMindInstitute/mindlogger-backend-refactor/.github/workflows/run_deploy_dev.yaml@develop
    with:
      COMMIT_HASH: ${{ github.sha }}
      IMAGE_PREFIX: ${{ github.ref_name }}

  deploy_to_uat:
    needs: run_codebuild_project
    uses: ChildMindInstitute/mindlogger-backend-refactor/.github/workflows/run_deploy_uat.yaml@develop
    with:
      COMMIT_HASH: ${{ github.sha }}
      IMAGE_PREFIX: ${{ github.ref_name }}

  deploy_to_test:
    needs: run_codebuild_project
    uses: ChildMindInstitute/mindlogger-backend-refactor/.github/workflows/run_deploy_test.yaml@develop
    with:
      COMMIT_HASH: ${{ github.sha }}
      IMAGE_PREFIX: ${{ github.ref_name }}